<link rel="stylesheet" type="text/css" href="/assets/css/financial.css">
<link rel="stylesheet" type="text/css" href="/assets/css/career-style-1.css">
<%
const rowsFromApi = (Array.isArray(webFeaturesRows) && webFeaturesRows.length)
  ? webFeaturesRows
  : (Array.isArray(webcomponentsRows) ? webcomponentsRows : []);
const aboutRows = rowsFromApi.map((r) => ({
  titlePrefix: r.title_prefix || "",
  highlight: r.highlight || "",
  titleSuffix: r.title_suffix || "",
  description: r.description || "",
  ctaLabel: r.cta_label || "",
  ctaHref: r.cta_href || "#",
  imageMain: r.image_main || "",
  imageSecondary: r.image_secondary || "",
  imageAltMain: r.image_alt_main || "",
  imageAltSecondary: r.image_alt_secondary || "",
  reverse: !!r.reverse
}));
%>
<% if (aboutRows.length) { %>
<section class="section-space about-style-3" id="landings">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow pulse">
                <div class="landing-title">
                    <h5 class="sub-title">One Platform for Payments, Savings & Investments</h5>
                    <h2>Everything You Need to Grow <span class="gradient-1">Your Wealth</span></h2>
                    <p>Access a complete financial ecosystem designed for your growth and convenience.</p>
                </div>
            </div>
        </div>
        <% aboutRows.forEach((row) => { %>
        <div class="row justify-content-between gy-sm-4 gy-3 align-items-center section-space">
            <% if (row.reverse) { %>
            <div class="col-xl-6 col-lg-6">
                <div class="about-content">
                    <div class="title-style-2">
                        <h2>
                            <%= row.titlePrefix %> <span class="txt-success"><%= row.highlight %></span><br>
                            <%= row.titleSuffix %>
                        </h2>
                    </div>
                    <p><%= row.description %></p>
                    <a href="<%= row.ctaHref %>"><%= row.ctaLabel %> <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="about-image-wrapper">
                    <img class="img-fluid" src="<%= row.imageMain %>" alt="<%= row.imageAltMain %>">
                    <img class="img-fluid left-image" src="<%= row.imageSecondary %>" alt="<%= row.imageAltSecondary %>">
                </div>
            </div>
            <% } else { %>
            <div class="col-xl-5 col-lg-6">
                <div class="about-image-wrapper">
                    <img class="img-fluid" src="<%= row.imageMain %>" alt="<%= row.imageAltMain %>">
                    <img class="img-fluid left-image" src="<%= row.imageSecondary %>" alt="<%= row.imageAltSecondary %>">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-content">
                    <div class="title-style-2">
                        <h2>
                            <%= row.titlePrefix %> <span class="txt-success"><%= row.highlight %></span><br>
                            <%= row.titleSuffix %>
                        </h2>
                    </div>
                    <p><%= row.description %></p>
                    <a href="<%= row.ctaHref %>"><%= row.ctaLabel %> <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <% } %>
        </div>
        <% }); %>
    </div>
</section>
<!-- About section end -->
<% } %>

<!-- Career guidance section start -->
<!-- <section class="section-space career-style-1 mt-3" id="career">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-4">
                <div class="title-style-2">
                    <h2>
                        Prepare for your next interview
                    </h2>
                </div>
                <div class="career-image d-xl-block d-none">
                    <img class="img-fluid" src="../assets/images/job/1.webp" alt="vector">
                </div>
            </div>
            <div class="col-xl-5 col-md-8">
                <div class="company-wrapper">
                    <div class="text-center">
                        <h3>Interview questions by company</h3>
                    </div>
                    <ul class="company-list">
                        <li>
                            <div class="list-box">
                                <a href="#" class="company-icon">
                                    <img src="../assets/images/social-icons/8.webp" alt="tata">
                                </a>
                                <a href="#" class="company-details">
                                    <h6>TCS</h6>
                                    <span class="txt-light">450 Interviews</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="list-box">
                                <a href="#" class="company-icon">
                                    <img src="../assets/images/social-icons/2.webp" alt="google">
                                </a>
                                <a href="#" class="company-details">
                                    <h6>Google Ltd.</h6>
                                    <span class="txt-light">450 Interviews</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="list-box">
                                <a href="#" class="company-icon">
                                    <img src="../assets/images/social-icons/9.webp" alt="icon">
                                </a>
                                <a href="#" class="company-details">
                                    <h6>Accenture</h6>
                                    <span class="txt-light">3K+ Interviews</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="list-box">
                                <a href="#" class="company-icon">
                                    <img src="../assets/images/social-icons/10.webp" alt="byjus">
                                </a>
                                <a href="#" class="company-details">
                                    <h6>Byjus</h6>
                                    <span class="txt-light">450 Interviews</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="list-box">
                                <a href="#" class="company-icon">
                                    <img src="../assets/images/social-icons/11.webp" alt="amazon">
                                </a>
                                <a href="#" class="company-details">
                                    <h6>Amazon</h6>
                                    <span class="txt-light">450 Interviews</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="list-box">
                                <a href="#" class="company-icon">
                                    <img src="../assets/images/social-icons/12.webp" alt="flipkart">
                                </a>
                                <a href="#" class="company-details">
                                    <h6>Flipkart</h6>
                                    <span class="txt-light">450 Interviews</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#">View all companies <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="company-wrapper role-question">
                    <div class="text-center">
                        <h3>Questions by role</h3>
                    </div>
                    <ul class="guidance-list">
                        <li>
                            <a href="#">
                                Software Engineer
                                <span class="txt-light">(3.7+)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Business Analyst
                                <span class="txt-light">(2.9+)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Consultant
                                <span class="txt-light">(2.8+)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Financial Analyst
                                <span class="txt-light">(987)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Sales & Marketing
                                <span class="txt-light">(909)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Sales & Marketing
                                <span class="txt-light">(909)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Quality Engineer
                                <span class="txt-light">(1.5+)</span>
                            </a>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#">View all roles <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <svg class="arrow-svg d-lg-block d-none" width="136" height="57" viewBox="0 0 136 57"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M114.646 12.1356L114.646 12.1357L114.645 12.1362C114.641 12.1392 114.635 12.1455 114.627 12.1562C114.611 12.1778 114.598 12.2031 114.589 12.2259L114.583 12.2579C114.565 12.3415 114.587 12.4221 114.608 12.4548L114.613 12.4638L114.619 12.4729C114.636 12.5011 114.68 12.5461 114.765 12.5721C114.826 12.5797 114.897 12.5702 114.994 12.5173C116.06 11.9189 117.127 11.3288 118.19 10.7403L118.191 10.74C119.257 10.15 120.32 9.56169 121.382 8.96569L121.383 8.96517C121.77 8.74847 122.16 8.53152 122.549 8.31558C122.939 8.09934 123.326 7.88412 123.71 7.66945L125.461 6.68876L125.189 8.67764C124.948 10.4421 124.64 12.1991 124.263 13.9166C121.306 28.5653 109.463 41.3167 96.9683 48.407L96.9593 48.4121L96.9502 48.4171C83.9804 55.4256 68.4028 56.8493 54.2771 52.9553L54.2658 52.9522L54.2547 52.9488C35.9351 47.4359 21.7601 33.3728 10.6587 18.5472L10.6511 18.537L10.6438 18.5267C8.52217 15.5384 6.69454 12.3643 5.08751 9.09713L5.08307 9.0881L5.07881 9.07898C4.5075 7.85592 3.95082 6.62831 3.39755 5.40825L3.33199 5.26368C2.75629 3.99418 2.18363 2.733 1.59659 1.48243L1.59654 1.48245L1.59204 1.4726C1.53357 1.34444 1.38127 1.29132 1.26134 1.3466L1.25176 1.35101L1.24208 1.35522C1.20294 1.37227 1.15776 1.41573 1.13869 1.48714L1.13527 1.49994L1.13151 1.51265C1.11371 1.57283 1.11909 1.64648 1.14225 1.69824L1.14532 1.7051L1.14829 1.712C4.82933 10.2803 9.136 18.5349 15.4069 25.3459L15.4244 25.3649L15.4409 25.3848C23.2457 34.7932 32.3166 43.2687 43.0982 48.9054L43.1049 48.9089L43.1116 48.9125C70.8648 63.9606 105.698 52.8901 120.765 25.236L120.765 25.2347C123.451 20.3229 124.955 14.7714 125.655 9.1187L125.896 7.1768L127.329 8.50948L127.331 8.51152C128.669 9.75623 130.01 11.0036 131.336 12.2529C132.318 13.1759 133.317 14.0979 134.32 15.0234L134.323 15.0265L134.33 15.0325C134.357 15.0578 134.409 15.084 134.488 15.0795C134.567 15.0749 134.623 15.0414 134.652 15.0079L134.657 15.0019L134.662 14.996C134.747 14.9016 134.747 14.7316 134.636 14.6311L134.63 14.626L134.625 14.6209C133.664 13.7231 132.705 12.8292 131.744 11.9345C130.784 11.0408 129.824 10.1463 128.863 9.24776C128.351 8.77624 127.843 8.30082 127.339 7.8286L127.335 7.82508C126.828 7.3499 126.324 6.87796 125.817 6.41081L125.737 6.33744L125.675 6.24873C125.646 6.20695 125.604 6.17881 125.559 6.16776C125.495 6.15688 125.421 6.16378 125.314 6.22194C124.303 6.78132 123.288 7.34513 122.273 7.90946L122.268 7.91193C121.254 8.47567 120.238 9.03993 119.226 9.59989C119.226 9.59994 119.226 9.59999 119.225 9.60004L116.936 10.8678L114.646 12.1356Z"
                        stroke="#303055" stroke-width="2" />
                </svg>
            </div>
        </div>
    </div>
</section> -->